<%= form_with model: [:admin, @notification], local: true do |form| %>
  <% if @notification.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@notification.errors.count, "error") %> prevented saving:</strong>
      <ul class="mb-0"><% @notification.errors.full_messages.each do |m| %><li><%= m %></li><% end %></ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :user_id, "User", class: "form-label" %>
      <%= form.collection_select :user_id, User.all, :id, :display_name, { include_blank: "Select User" }, class: "form-select select2" %>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :title, "Title", class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="col-md-12 mb-3">
      <%= form.label :body, "Body", class: "form-label" %>
      <%= form.text_area :body, class: "form-control", rows: 3 %>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :notification_type, "Notification Type", class: "form-label" %>
      <%= form.text_field :notification_type, class: "form-control" %>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :sent_at, "Sent At", class: "form-label" %>
      <%= form.datetime_local_field :sent_at, class: "form-control" %>
    </div>
  </div>
  <div class="mt-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_notifications_path, class: "btn btn-light" %>
  </div>
<% end %>
