<% page_title "Members Report" %>
<div class="page-header"><h1><i class="bi bi-people me-2"></i>Members Report</h1><%= link_to "Back", admin_reports_path, class: "btn btn-light" %></div>
<div class="card mb-3"><div class="card-body"><%= pie_chart @by_status, height: "240px" %></div></div>
<div class="card"><div class="card-body p-0"><table class="table mb-0"><thead><tr><th>Name</th><th>Chapter</th><th>Category</th><th>Status</th></tr></thead><tbody>
  <% @members.each do |m| %><tr><td><%= m.full_name %></td><td><%= m.chapter&.name %></td><td><%= m.business_category&.name %></td><td><%= status_badge(m.membership_status) %></td></tr><% end %>
</tbody></table></div></div>
<%= paginate @members %>
